<!DOCTYPE html>
<html>
<body>
<form name="myForm" action="/end" method="get">
<p>
Pick an artist to find out what genre of music they sing! <b> <br>
<input type="radio" name="options" value="Lady Gaga"> Lady Gaga <br>
<input type="radio" name="options" value="Bruce Springstein"> Bruce Springstein <br>
<input type="radio" name="options" value="Katy Perry"> Katy Perry <br>
<input type="radio" name="options" value="Brittany Spears"> Brittany Spears <br>
</p>
<p><input type=submit value=Next></p>
</form>
</form> 
</body>
</html>